<div class="container">
   <div class="jumbotron">
      	<h2> RoR Bank </h2>
			<p>
				RoR Bank is an Banking application developed using Ruby on Rails
			</p>
			<br>
			<h4> Accounts </h4>
			<p>
				This option lists all the Accounts that are avilable with RoR Bank, Account Fee, Maintenance, etc
			</p>

			<h4> Cards </h4>
			<p>
				This option lists all the Cards that are avilable with RoR Bank, Account Fee, Maintenance, etc
			</p>
			<h4> Loans </h4>
			<p>
				This option lists all the Loans that are avilable with RoR Bank, Account Fee, Maintenance, etc
			</p>

			<h4> Internet Banking </h4>
			<p>
				This option lists provides you rich online services for your Banking
			</p>

   </div>
</div>