<div class="container">
   <div class="jumbotron">
      <h2>Welcome to RoR Virtual Internet banking </h2>
      <p>To use Internet Banking services, please sign in</p>
      <p><a class="btn btn-primary" role="button">
         Sign In</a>
      </p>
   </div>
</div>