<div class="container">
	<div class="jumbotron">
		<h2>Editing payee</h2>

<%= render 'form' %>

<%= link_to 'Show', @payee, class: "btn btn-primary"  %> |
<%= link_to 'Back', payees_path, class: "btn btn-primary" %>
</div></div>
