<div class="container">
	<div class="jumbotron">
		<h2>Editing transaction</h2>

		<%= render 'form' %>

		<%= link_to 'Show', @transaction, class: "btn btn-primary" %> |
		<%= link_to 'Back', transactions_path, class: "btn btn-primary" %>
	</div>
</div>
